p {
  text-align: justify;
  padding: 2px;
}
main{
  width: 70%;
}

body {
  font-family: Verdana;
  background-color: black;
  color: white;
}

#mainText{
  float: left;
  width: 80%;
  border: 1px solid rgb(11, 235, 59);

}
a{
  font-size: 20px;
}

nav{
  background-color: grey;
  padding: 5px;
  border: 1px solid green;
  border-radius: 5px;
}

nav ul li {
  list-style-type: none;
  background-color: #b2b2b2;
  display: inline;
  padding: 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li:hover {background-color: #cb92f1;}

nav ul {
  text-align: center;
  font-size: 1.2em;
}


.active{
    background-color: rgb(0, 132, 255);
}

.showimages {
  float: left;
  width: 30%;
  border: 2px solid white;
  margin: 0 10px 0 10px;
}
.autoSect{
  max-height: 350px;
  overflow: auto;
}
.column {
  column-count: 3;
  column-rule: 2px solid rgb(199, 32, 32);
  column-gap: 50px;
  padding: 2px;
  text-align: justify;
}
aside
{
  border: 3px solid rgb(148, 148, 148);
  float: right;
  width: 18%;
}

footer {
  clear: both;
  padding: 0;
  margin: 0;
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: rgb(209, 148, 15);
  text-align: center;
}
footer ul li {
  list-style-type: none;
  color: white;
  display: inline;
  padding: 15px;
}
footer ul li a{
  color: white;
  text-decoration: none;
  display: inline;
}


 